.guesescolum{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}
.guesescolum .boderrate{
  background-color: blue;
  color: aliceblue;
}
.guesescolum img{
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.guesescolum a{
  text-decoration: none;
  
}